<div class="form-container">
  <form action="">
    <label for="name">Ingrese su nombre y apellido</label>
    <input id="name" name="name" type="text" placeholder="nombre y apellido aqui">

    <label for="address">Direccion</label>
    <input type="text" id="address" name="address" placeholder="direccion aqui">

    <label for="email">Correo electronico</label>
    <input type="email" id="email" name="email" placeholder="direccion de correo aqui">

    <div class="captcha-container">

    </div>


    <button type="submit">Realizar compra</button>
  </form>
</div>
