:host {
  background-color: black;
  color: white;
}

.clearence {
  border: 2px solid green;
}

.title-heading {
  padding: 1rem;
  font-size: 18px;
}

.btn-add {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}

