/* You can add global styles to this file, and also import other style files */
:root {
  --main-font: 'Roboto', sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 2;
  text-align: center;
}
